<!doctype html>
<html lang="en">
	<head>
        <title>{{{ title }}} - Mast Cell Help (mastcell.help)</title>
		<meta charset="utf-8" />
        <link rel="canonical" href="https://mastcell.help/">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/3.0.0/pure-min.css" integrity="sha512-X2yGIVwg8zeG8N4xfsidr9MqIfIE8Yz1It+w2rhUJMqxUwvbVqC5OPcyRlPKYOw/bsdJut91//NO9rSbQZIPRQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/3.0.0/grids-responsive.min.css" integrity="sha512-5hr5fSxiYwkxK0EZX2B/DILA1QoyXwIf9ynWVbyMvqcMIDZ0XZKWw+xk9mysLSOLV4iMrBB1t/YAxt/006W4HA==" crossorigin="anonymous" referrerpolicy="no-referrer" />        <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.14.0/cdn.min.js" integrity="sha512-4e/5PZ1eoLJMDjaJXTHkWRA0yec8bm07/iINYSd5rdJ38jGm5OZkEi3J+7LqSDWNATNJ4/aneNlrk2AYnnckIg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/assets/styles/all.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
	<body>

        <header>
            <nav class="pure-g">
                <div class="pure-u-1-2">
                    <a class="font-bold" href="https://mastcell.help">MastCell.Help</a>
                </div>
                <div class="pure-u-1-2">
                    <a class="" href="mailto:info@mastcell.help">info@mastcell.help</a>
                </div>
            </nav>
        </header>

        <main class="center">
{{{ content }}}
        </main>

        <footer class="center">
            <nav class="pure-g">
                <div class="pure-u-1-2">
                    <a class="font-bold" href="https://mastcell.help">MastCell.Help</a>
                </div>
                <div class="pure-u-1-2">
                    <a class="" href="mailto:info@mastcell.help">info@mastcell.help</a>
                </div>
            </nav>
        </footer>
        
    </body>
</html>
